body{
    margin: 0px;
    background-color: rgb(251 180 191);
}
main{
    margin-left: 20px;
    margin-right: 20px;
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(318, 92%, 30%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    margin-left: 100%;
}
.navbar a:hover{
    background-color: hsl(305, 82%, 69%);
    width: 90%;
}
.navbar li{
    float: left;
    margin-left: 10%;

}



.boxes{
    margin-left: 0%;
    display: flex;
    font-family:  'PT Sans Narrow', sans-serif;
    font-size: x-large;
    background-color:  rgb(5, 1, 62); 
}


.box1{
    background-color: rgb(182, 160, 240);
    margin: 10px;
    height: 200px;
    width: 300px;
    margin-left: 20%;
}

.box2{
    background-color: rgb(182, 160, 240);
    margin: 10px;
    height: 200px;
    width: 300px;
    
}

.box3{
    background-color: rgb(182, 160, 240);
    margin: 10px;
    height: 200px;
    width: 300px;
}

